* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 8px;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.main-nav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    padding: 48px;
    width: 80%;
    display: flex;
    gap: 16px;
}

.hero-text, .hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 100%;
    border-radius: 16px;
}